.header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  left: 0;
  top: 0;
  background-color: #132e48;
  display: none;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 850px) {
  .header {
    display: flex;
  }
}
