.main {
  padding-top: 46px;
  margin-bottom: 70px;
  &:last-child {
    margin-bottom: 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (max-width: 850px) {
  .main {
    padding-top: 76px;
  }
}
